.formDiv {
  width: 100%;
  padding: 5%;
}
.formDiv > * {
  width: 100%;
}

form {
  background-image: url("../../assets/images/addSpelare.jpg");
}
.mat-display-2 {
  margin: 0;
}
h1 {
  display: flex;
  justify-content: center;
  color: white;
}

