@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

img{
  display: block;
  width: auto;
  height: auto;
}

.spelartabell{
  width: 300px;
  height: 300px;
  position: relative;
  vertical-align: auto;
}
.spelartabell img{
  vertical-align: auto;
  max-height: 80px;
}

.error {
  box-shadow: 0 0 5px;
  border-color: red;
}
.containerSpelare{
  width: 300px;
  height: 300px;
  padding-right: 20px;
  padding-left: 50px;
  padding-bottom: 10px;
  mat-grid-list {
    mat-grid-tile {
      background: lightblue;
      img {
        margin-top: auto;
        margin-bottom: auto;

      }
    }
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.matCard {
  width: auto;
  height: auto;
  margin: 20px;
  img {
    height: 340px;
    width: 240px;
  }
}
