<p>spelare works!</p>
<div class="spelartabell" style="vertical-align: middle; display: inline-block">
<table border="2">
  <tbody>
  <tr>
    <th>Namn</th>
    <th>Efternamn</th>
    <th>Ålder</th>
    <th>Land</th>
    <th>Position</th>
    <td rowspan="2"><img alt="Bild" src="../../assets/images/Messi.png"/></td>
  </tr>
  <tr>
    <td>Lionel</td>
    <td>Messi</td>
    <td>33</td>
    <td>Argentina</td>
    <td>forward</td>
  </tr>
  </tbody>
</table>
</div>
<p>
  <ul>
  <li *ngFor="let f of spelare">
    <a routerLink="/detalj-spelare/{{f.id}}"> {{f.name}} </a> personnr {{f.age}}
  </li>
</ul>

<a routerLink="/addspelare">Lägg till spelare</a>
