
<div class="container">
  <mat-list *ngFor="let e of spelare">
    <div class="containerSpelare">
      <mat-grid-list cols="2" rowHeight="2:1">
        <a routerLink="/detalj-spelare/{{e.id}}"><mat-grid-tile rowspan="4"><img src="{{e.bild}}" alt=""></mat-grid-tile></a>
        <mat-grid-tile >{{e.name}}</mat-grid-tile>
        <mat-grid-tile rowspan="2" style="font-size: 24px; font-weight: bold">{{e.nummer}}</mat-grid-tile>
        <mat-grid-tile >{{e.position}}</mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-list>
</div>
