<div class="container">
<h1>Om oss</h1>
<div class="bild">
  <img src="../../assets/images/Camp-Nou.jpg" width="650" height="370" alt="mittbild">
</div>
<h1>
  Våra värdegrunder
</h1>
<div class="text">
<p>
  *Vi  är mer än ett team med stora stjärnor,<br />
  Vi  är mer än en Arena full av drömmar,<br />
  Vi är mer än de mål vi har gjort<br />
  och mer än troféerna som vi har vunnit genom vår historia.<br />
</p>
<p>
  *I Barça är vi<br/>
  MER ÄN EN KLUBB<br/>
  MER än 144 000 MEDLEMMAR<br />
  Mer än en klubb eftersom den består av MER än 144 000 MEDLEMMER som tar de stora besluten demokratiskt, eftersom att arbeta tillsammans är det bästa sättet att säkerställa både sport och ledarskap.<br />
</p>

<p>
  *EGNA STIL<br />
  Mer än en klubb för när vi spelar vill vi vinna, men utan att försumma vår EGNA STIL.<br />
</p>

<p>
  *YRKESPORTER<br />
  Mer än en klubb eftersom vi är mer än bara fotboll: vi investerar i 5 PROFESSIONELLA SPORTER och marknadsför kvinnors sport.<br />
</p>

<p>
  *SKOLA FÖR LIV<br />
  Mer än en klubb eftersom vi är en SKOLA FÖR LIV som utbildar människor genom idrott. Vi vill inte bara locka de största spelarna utan använder också La Masia för att vårda fantastiska människor som är erkända och igenkännliga både på och utanför banan.<br />
</p>

<p>
  *VÄRDEN<br />
  Mer än en klubb eftersom vi känner att värderingar som ödmjukhet, ambition, ansträngning, lagarbete och respekt är lika viktig del av vårt sätt att spela som att vinna.<br />
</p>

<p>
  *BARCELONA<br />
  Mer än en klubb för att utan att glömma våra rötter i BARCELONA och vår katalanska identitet och kultur har vi alltid varit öppna för världen och blivit en mötesplats för olika människor, kulturer och nationer.<br />
</p>

<p>
  *SOCIAL FÖRÄNDRING<br />
  "Mer än en klubb" eftersom vi är fast engagerade i SOCIALA ÄNDRINGAR. Vi tror på sportens kraft att förändras.<br />
</p>

<p>
  *SPORTINGKUNNSKAP OCH INNOVATION<br />
  Mer än en klubb för att vi arbetar med de bästa proffsen och experterna i idrottsvärlden, och genererar kunskap som vi delar för att sätta nya standarder inom SPORTINGKUNNSKAP OCH INNOVATION.<br />
</p>
</div>
</div>
