form {
  background-image: url("../../assets/images/login.jpg");
  background-size: cover;
}
.wrapper{
  text-align: center;
  margin:0 auto;
  max-width:500px;
  padding: 130px;
}

.error {
  color: red;
}
.wrapper > * {
  width: 100%;
}

h1 {
  color: white;
  text-align:center;
  font-size:300%;
}

.login-form {
  padding-top:15px;
  padding-bottom:20%;
  text-align:center;
  align-content: center;
}
.loginknapp{
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: black;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}
.loginknapp:hover{
  background-color: #cc122e;
}
::ng-deep .mat-form-field {
  .mat-input-element {
    color: white;
    caret-color: white;
  }
  .mat-form-field-label {
    color: white;
  }
  .mat-form-field-underline {
    background-color: rgb(204, 18, 46);
  }
  .mat-form-field-ripple {
    background-color: rgb(21, 66, 132);
  }
  .mat-form-field-outline {
    color: white;
  }
  .mat-select-value {
    color: white;
  }
  .mat-select-placeholder {
    color: #721c24;
  }
}



::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: white;
  }
  .mat-input-element {
    color: white;
  }
  .mat-form-field-outline {
    color: white;
  }
  .mat-select-value {
    color: white;
  }
  .mat-select-placeholder {
    color: #721c24;
  }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
  .mat-input-element {
    color: red;
  }
  .mat-form-field-ripple {
    background-color: #ff33cc;
  }
  .mat-error {
    color: cyan;
    background-color: black;
    width: 235px;
  }
  .mat-select-placeholder {
    color: #721c24;
  }
}
