<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [ngClass]="{hidden: !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>FC Barcelona</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="/home"><mat-icon aria-hidden="false">home</mat-icon></a>
      <a mat-list-item [matMenuTriggerFor]="appMenu">Spelare</a>
      <a mat-list-item href="#" routerLink="/arena">Arena</a>
      <a mat-list-item href="#"  routerLink="/partners">Partners</a>
      <a mat-list-item href="#" routerLink="/omOss">Om oss</a>
      <a mat-list-item href="#" routerLink="/login">Logga in</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="bakgrund">
    <mat-toolbar color="primary" class="horizNav">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">keyboard_tab</mat-icon>
      </button>
      <span><a routerLink="/home">FC Barcelona</a></span>
      <span class="space"></span>
      <mat-menu class="mat-menu" #appMenu="matMenu" xPosition="after">
        <a mat-menu-item routerLink="/spelare"><mat-icon>format_list_bulleted</mat-icon>Visa spelare</a>
        <a mat-menu-item routerLink="/addspelare"><mat-icon>playlist_add</mat-icon>Lägg till spelare</a>
      </mat-menu>
      <mat-nav-list >
        <a mat-list-item [matMenuTriggerFor]="appMenu">Spelare</a>
        <a mat-list-item href="#" routerLink="/arena">Arena</a>
        <a mat-list-item href="#"  routerLink="/partners">Partners</a>
        <a mat-list-item href="#" routerLink="/omOss">Om oss</a>
      </mat-nav-list>
    </mat-toolbar>
    <ng-content>
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
