
<head title="Samarbete" class="samarbete">

</head>
<header class="scroller">
  Våra samarbetspartners
</header>
<div class="bakgrundpartners">
<div class="gallery">
  <a target="_blank" href="https://www.klarna.com/se/">
    <img alt="Klarna" src="../../assets/klarna-logo.jpg">
  </a>
  <div class="desc">Klarna</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.stadium.se/">
    <img alt="Stadium" src="../../assets/Stadium.png">
  </a>
  <div class="desc">Stadium</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://unicef.se/">
    <img alt="Unicef" src="../../assets/Unicef.png">
  </a>
  <div class="desc">Unicef</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.estrella.se/">
    <img alt="estrella" src="../../assets/Esterella.png" >
  </a>
  <div class="desc">Esterella</div>
</div>
<div class="gallery">
  <a target="_blank" href="https://www.nike.com/se/?cp=17516466187_search_|nike|723899177|35404620902|e|c|SE|pure|310327282216&gclsrc=aw.ds&ds_rl=1252249&gclid=EAIaIQobChMI1IeT0peE6AIVzE0YCh081w6WEAAYASAAEgI85PD_BwE&gclsrc=aw.ds">
    <img alt="Nike" src="../../assets/Nike.jpg" >
  </a>
  <div class="desc">Nike</div>
</div>
</div>



<div class="sambakgrund">
<div class="gallery">
  <a target="_blank" href="https://global.rakuten.com/en/">
    <img alt="Rakuten" src="../../assets/Rakuten.png" >
  </a>
  <div class="desc">Rakuten</div>
</div>
<div class="gallery">
  <a target="_blank" href="https://www.pringles.com/se/home.html">
    <img alt="Pringles" src="../../assets/pringles.png" >
  </a>
  <div class="desc">Pringles</div>
</div>
<div class="gallery">
  <a target="_blank" href="https://www.telia.se/privat?gclsrc=aw.ds&&gclid=EAIaIQobChMI25nYmpiE6AIVzY4YCh3saQZtEAAYASAAEgKGjPD_BwE&gclsrc=aw.ds">
    <img alt="Telia" src="../../assets/telialogo.png" >
  </a>
  <div class="desc">Telia</div>
</div>
<div class="gallery">
  <a target="_blank" href="https://www.bmw.se/sv/index.html">
    <img alt="BMW" src="../../assets/bmw.png" >
  </a>
  <div class="desc">BMW</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.google.se/">
    <img alt="Google" src="../../assets/google.png" >
  </a>
  <div class="desc">Google</div>
</div>
<div class="gallery">
  <a target="_blank" href="https://www.sony.se/">
    <img alt="Sony" src="../../assets/sony.png" >
  </a>
  <div class="desc">Sony</div>
</div>
</div>

