
<header>
  <div class="container">
    <a href="#" routerLink="/home" class="logo">FC Barcerlona</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/home">Hem</a> </li>
        <li><a href="#" routerLink="/spelare">Spelare</a> </li>
        <li><a href="#" routerLink="/arena">Arena</a> </li>
        <li><a href="#" routerLink="/partners">Partners</a> </li>
        <li><a href="#" routerLink="/omOss">Om oss</a> </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
